@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
  background-color:black;
  
}
input{
  background-color:white;
  border:none;
  border-radius:31px;
  font-family:"Open Sans", sans-serif;
  font-size:17px;
  color:black;
  width:60%;
  display:block;
}
input:focus{
  outline:none;
}
h1{
  color:white;
  text-align:center;
}
